* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto',
        sans-serif;
}

@media(min-width:200px) and (max-width:500px) {
    #diag {
        background-color: #ecedee;
        padding: 20px;
        height: 400px;
    }

    #comt {
        padding-right: 14px;
    }

    #comt a {
        height: 40px;
        padding: 12px;
    }
}

section {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background: rgb(241, 243, 243);

}

.container {
    max-width: 500px;
    width: 100%;
    padding: 20px;
    box-shadow: 0px 0px 20px #00000020;
    border-radius: 8px;
    background-color: white;
    border: 1px solid white;
    background: cover 100% 100%;
    background-image: url(img1.png);
}

.step {
    display: none;
}

.step.active {
    display: block;
}

.form-group {
    width: 100%;
    margin-top: 20px;
}



.con {
    width: 100%;
    margin-top: 20px;
    padding: 8px;
}

.con hr {
    padding: 2px;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background: #040d15;
}

a {
    position: relative;
    display: inline-block;
    padding: 12px 36px;
    margin: 10px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 2px;
    border-radius: 40px;
    overflow: hidden;
    background: linear-gradient(90deg, #0162c8, #55e7fc);
}

.container h3 {
    margin-top: 20px;
    font-weight: 500;
    float: right;
    width: 100%;
    background: rgba(228, 226, 226, 1.0);
    text-align: end;
}

.container h3 p {
    font-weight: 50;
    text-decoration: none;
    float: right;
    width: 90%;
    background: rgba(228, 226, 226, 1.0);
    text-align: end;
    text-size-adjust: 100px;

}